:root {
  --header-font: "Patua One", cursive;
  --text-font: "Roboto Slab", serif;
  --primary-color: #08213b;
  --secondary-color: #4a1153;
}
body {
  background: #ded2ea;
}

h1,
h5,
a {
  color: var(--primary-color);
  font-family: var(--header-font);
  text-align: center;
}

h2,
p,
footer,
i {
  font-family: var(--text-font);
  color: var(--primary-color);
  text-align: center;
}
nav {
  color: var(--primary-color);
  font-family: var(--text-font);
  font-weight: bold;
}

p {
  font-size: 20px;
  line-height: 32px;
}

.footer-icon {
  margin: 20px;
}

.footer-icon i {
  font-size: 36px;
}

.project-link {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 30px;
}
:hover.project-link {
  background-color: #64346b;
  transition: ease-in-out 150ms;
}
